module.exports = {
    widgets: [
        {
            icon_path: "/static/icon",
            title: "title",
            desc: "description",
            link: "link of widget",
            // Sudo will not be supported
            bash_command: "bash command"
        },
    ]
}
